.introduction {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  max-width: 1280px;
  /* margin-top: 230px; */
  text-align: center;
  /* margin: auto; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduction__visual-section {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: center;
}

.introduction__image {
  border-radius: 20px;
  height: 350px;
  width: 350px;
}

.introduction__name-section {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* margin-left: 40px; */
}

.introduction__title {
  font-size: 70px;
  margin: 0 auto 20px;
}

.introduction__subtitle {
  font-size: 40px;
  margin: 0 auto 10px;
}

.introduction__text {
  font-size: 30px;
  text-align: justify;
}
