.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
  margin-top: 230px;
  text-align: center;
}

.introduction__title {
  font-size: 70px;
  margin: 0 auto 20px;
}

.introduction__subtitle {
  font-size: 35px;
  margin: 0 auto 10px;
}
